[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "==3.2"
djangorestframework = "*"
markdown = "*"
feedparser = "*"
djangorestframework-simplejwt = "*"
django-crontab = "*"
redis = "*"
eventlet = "*"
python-dateutil = "*"
requests = "*"
punq = "*"

[dev-packages]

[requires]
python_version = "3.9"
